@using Microsoft.AspNet.Identity
@*User.Identity.IsAuthenticated*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PhotoStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link rel="shortcut icon" href="../../Content/Images/unnamed.png" type="image/png">
</head>
<body>
    <nav class="navbar navbar-content " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">PhotoStore</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/UserAccount/UserPage">Home</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
            @using (Html.BeginForm("SearchResult", "UserAccount", FormMethod.Post, new { @class = "col-md-3" }))
            {
                <form class="navbar-form navbar-left">
                    
                        
                            <section class="webdesigntuts-workshop">
                                <div class="row">
                                    <input type="search" name="searchString" placeholder="Search for..." required>
                                    <div class="input-group-btn">
                                        <input type="submit" id="submit" value="Go">
                                    </div>
                                </div>
                            </section>
                       
                        
                </form>
            }
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        @RenderSection("scripts", false)
        <div class="wrapper">

            <div class="content"></div>
            <footer>
                <hr />

                <p>&copy; @DateTime.Now.Year -  PhotoStore</p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>